[2020-05-24 16:26] inducer opened #1 "Make an install script"
I like the instructions in the README, but I think we could just stick them in a script to allow folks to avoid having to copy-paste sequences of commands.

[2020-05-24 16:27] inducer opened #2 "Instructions won't stop on failure"
[code]

Generally: prefer `&&` over `;` in shell command sequences.

[2020-05-24 16:29] inducer opened #3 "Install should start from scratch and work on at least Apple/Linux"
- [x] I.e. ideally start from https://github.com/conda-forge/miniforge (a fully-free version of miniconda).
- [x] Have CI verify that both of those platforms work (and keep working, via a scheduled job)

[2020-05-24 16:30] inducer opened #4 "Make public?"
@illinois-ceesd/developers Should we make this repo public? What do you think?

[2020-05-26 15:07] #2 closed, assigned to matthiasdiener

[2020-05-26 17:26] #3 closed, assigned to matthiasdiener

[2020-05-26 17:27] #1 closed, assigned to matthiasdiener

[2020-05-26 18:49] inducer opened #6 "README instructions are missing environment creation, activation"
See [here](https://documen.tician.de/grudge/misc.html) for comparison. Note: `conda-forge` channel add is not necessary with miniforge.

[2020-05-26 18:51] inducer opened #7 "Add CI badge to README"

[2020-05-26 19:31] inducer opened #8 "Install more stuff from conda"
In #6, @matthiasdiener says:

I disagree. IMO the following things are also needed from Conda:

- If we want to build anything from source: the conda toolchain. I think `conda install compiler` installs that.
- The Python interpreter (I think you get that no mater what)
- `numpy` (otherwise you build from source as a pip dependency or download a binary from pip which may or may not work well)
- `i

[2020-05-26 19:38] inducer opened #9 "Scheduled, recurring CI runs"
[Example](https://github.com/inducer/pyopencl/blob/b072dd5298d4ecd340afe61089529fb3148872af/.github/workflows/ci.yml#L9-L10)

[2020-05-26 21:07] #9 closed, assigned to nobody

[2020-05-26 21:44] matthiasdiener opened #12 "Add license"
Should probably happen before #4.

[2020-05-27 03:27] #12 closed, assigned to matthiasdiener

[2020-05-27 20:08] #7 closed

[2020-05-28 01:28] matthiasdiener commented on #8
Right, and my idea for `install.sh` was the "novice installing on laptop" case (as well as CI setup). For the "experienced user installing on DOE machine", the README with general instructions might be better.

[2020-05-28 02:04] matthiasdiener commented on #4
Made public.

[2020-05-28 02:04] #4 closed

[2020-05-28 15:02] MTCam commented on #8
Could we please have an option to subvert the conda part of install.sh?  Also, it would be good if we can specify where conda is installed.   I do not have, like, or want miniforge in the place where you are hard-coding it.

For my own purposes, on all platforms so far, if I just comment out everything between the top and the PIP line - it works great!  Having a way to do this without editing the

[2020-06-05 00:36] matthiasdiener commented on #8
This was done in #13.

[2020-06-05 00:36] #8 closed

[2020-06-05 00:37] #6 closed

[2020-06-05 15:12] inducer opened #21 "Version describer script"
Make a script whose output describes the state of someone's emirge source tree.

Use cases:

- Include at the beginning of integration test logs to clarify versions
- Student encounters a bug and files an issue
    - So this points to maybe making the output machine-readable (YAML?) to allow easy reproduction?
- Any others?

Info to include per repo:
- `git describe`
- current branch, remote assoc

[2020-06-07 21:36] inducer opened #22 "Readme assumes that user agrees to ~/.bashrc modification"
It also assumes that the user is using bash. Neither of those assumptions are valid IMO.

[2020-06-07 21:37] inducer opened #23 "Install islpy from conda"
A conda package for islpy is now available: https://github.com/conda-forge/islpy-feedstock/pull/13

[2020-06-07 21:40] inducer opened #24 "install-conda-dependencies modifies .bashrc without asking the user"

[2020-06-07 21:47] inducer opened #25 "install-pip-dependencies.sh uses pip install --user"
It definitely shouldn't. At the very least, that's inconsistent with having created an environment.

[2020-06-08 03:48] matthiasdiener commented on #25
The problem is, since `install-pip-dependencies.sh` was requested to be an independent script that does not care about how python was installed, how do we make sure that `pip install` does not fail due to permissions issues?

[2020-06-08 04:06] matthiasdiener commented on #22
Not clear how it assumes to the bashrc modification, but #27 makes the README independent from bash.

[2020-06-08 15:02] inducer commented on #22
How else would it know where to find the `conda` command?

Observe that in the [grurdge install docs](https://documen.tician.de/grudge/misc.html), I used an explicit path for `conda create`.

[2020-06-08 15:09] inducer commented on #25
Two points:

* `--user` forcibly circumvents virtualenvs by needlessly dumping stuff into a user-global location. (which is not how `pip install` behaves, which is why at least I would find that surprising/annoying)
* I would consider the pip failure correct behavior: The user hasn't usefully made up their mind on an install location. It's OK to tell them that.

[2020-06-08 15:10] #23 closed

[2020-06-08 15:27] #24 closed

[2020-06-08 15:37] #25 closed

[2020-06-08 16:28] lukeolson commented on #22
As a first step I use `source ~/miniconda3/bin/activate`.  Then `conda` is in the path and everything follows.

[2020-06-08 16:34] matthiasdiener commented on #22
As a curiosity, both the Miniforge and Miniconda installation scripts are not compatible with sh, but require bash ;-)

[2020-06-08 16:35] inducer commented on #22
IMO that's OK, too. `conda` sorts out "recursive env activation", right?

[2020-06-08 17:16] matthiasdiener commented on #21
Should this be a shell script or Python (e.g., to run something  like `from emirge import version; print(version)` ?

[2020-06-08 17:18] inducer commented on #21
Good question, I don't know. I was thinking a shell script to keep things simple, but I'm open to other solutions.

[2020-06-08 17:22] matthiasdiener commented on #21
Ok, I'll write a shell script for now.

[2020-06-08 19:27] #21 closed

[2020-06-09 15:19] MTCam opened #33 "Installation fails on macbook"
install.sh fails on my MacBook.  There are no error messages.

The source of the failure is the silent failure of wget followed by a non-error exit code for install. Adding verbosity to wget invocation in install.sh exposes this error:

This seems to indicate that wget is linked against an version of SSL that is not accepted by the remote host.  Re-installation of wget on my MacBook (via brew) han

[2020-06-09 15:21] matthiasdiener commented on #33
Ok, seems like your wget is broken. There isn't much we can do in emirge in this situation. What is your MacOS version? Where did you get wget from?

[2020-06-09 20:53] inducer commented on #33
Try `curl`?

[2020-06-09 20:54] matthiasdiener commented on #33
I think this was fixed by reinstalling wget.

[2020-06-09 21:02] MTCam commented on #33
Indeed, wget (among other things in /usr/local) was (are) dorked up after OS upgrade.  De-wedged the wget re-installation and all is well (after MattD's help).

[2020-06-09 21:39] matthiasdiener commented on #33
Closing this issue.

[2020-06-09 21:39] #33 closed

[2020-06-12 18:35] #22 closed

[2020-07-10 12:57] MTCam opened #40 "Emirge install failure on Quartz"
Something seems to have broken install.   Here's what I get on Quartz when I run install.sh with an empty prefix directory:
[code]

[2020-07-10 13:58] matthiasdiener commented on #40
Can you check whether #41 fixes this for you?

[2020-07-10 16:43] #40 closed

[2020-07-13 17:31] matthiasdiener opened #47 "Install additional development tools as part of bootstrapping process"
- mpi4py (should be built against system MPI)
- flake8
- pudb
- ipython

[2020-07-21 22:06] inducer opened #45 "Make default conda prefix a subdirectory of emirge"
Currently, `./install-conda.sh` will default to `~/miniforge3` as the conda install folder. In an attempt to mess with a user's environment as little as possible, I'd like to propose that we default to a subdirectory of the `emirge` folder, e.g. `conda-root`. @matthiasdiener @lukeolson What do you think?

[2020-07-21 22:08] MTCam commented on #45
I know I haven't been asked, but I would like this.

[2020-07-23 15:59] inducer opened #46 "requirements.txt parser generality"
- [ ] Look over the [`requirements.txt` spec](https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format) and flag unsupported stuff
- [x] Support comments

cc @matthiasdiener

[2020-07-24 14:41] inducer opened #48 "CI status indicator looks inconsistent"
![image](https://user-images.githubusercontent.com/352067/88402683-171dc380-cd91-11ea-8d18-3c6beec9873a.png)

[2020-07-24 14:51] matthiasdiener opened #49 "Install mpi if not available"

[2020-07-24 18:45] matthiasdiener commented on #48
That's arguably the correct situation. The checkmark at the commit indicates that CI tests passed when PR #42 was merged. On the other hand, all CI tests are failing currently due to the bug exposed by #50. This bug was caused by adding mpi4py to the mirgecom requirements.

[2020-07-25 22:42] inducer commented on #48
Huh, ok. Not what I'm used to with Gitlab (the commit status changes based on the latest CI that ran), but I buy that explanation. Thanks!

[2020-07-25 22:44] inducer commented on #48
Wait... no.

[2020-07-25 22:45] inducer commented on #48
Why should the CI status badge show the state of some x-random PR? Should we restrict that badge to the master branch? (That's what I do in my projects.)

[2020-07-27 15:33] matthiasdiener commented on #48
The badge is already restricted to the `master` branch ( or rather, default branch). The master branch has also been failing, which is why the badge status is 'failing' too. Note that currently all PRs are passing CI, but `master` is not (as the PR that fixes the build has not been merged yet), and the badge is set to 'failing'.

This is imho the correct behavior.

[2020-07-27 23:14] #49 closed

[2020-07-27 23:49] inducer commented on #48
Hmm, OK. Hard to reconstruct now. If I see something that looks off, I'll yell again.

[2020-07-30 21:47] MTCam opened #51 "Grudge build/run failure on Quartz after merge with master"
I've seen a little bit of noise about a similar error going around.  Anyone have advise on how to fix this?  This is after merging emirge master.

[code]

[2020-07-30 21:57] inducer commented on #51
Should respond to the same workaround as https://github.com/illinois-ceesd/mirgecom/pull/43.

[2020-07-30 22:02] MTCam commented on #51
Thanks.  I think the issue is not that I merged master; it is that the version of `mirgecom` (mtc/euler) I'm monitoring on the inside has *not been merged with master* to pick up the required changes to fix this issue..   More tangling.

[2020-07-30 22:28] inducer commented on #48
Here we go: (note: `branch:master` in query)

![grafik](https://user-images.githubusercontent.com/352067/88980712-e7d3ee80-d289-11ea-95d0-31a77e415d4a.png)

while

![grafik](https://user-images.githubusercontent.com/352067/88980765-020dcc80-d28a-11ea-8d8b-9ee7c65fd6c5.png)

[2020-07-30 22:33] inducer commented on #51
I don't think so. The fix is somewhere in the CI script, so unless your test scripts fish shell code out of `mirgecom/.github/workflows/ci.yml`, it's unlikely that the version of mirgecom will make any difference whatsoever. I'm fairly sure that what's causing our breakage is the pip release.

I'm rerunning the CI for master [here](https://github.com/illinois-ceesd/emirge/runs/929748279), and I be

[2020-07-30 22:36] inducer commented on #51
[master run](https://github.com/illinois-ceesd/emirge/runs/929748279) failed as predicted.

[2020-07-30 22:42] matthiasdiener commented on #48
Mine looks like this:

![image](https://user-images.githubusercontent.com/1772435/88981625-fcb18180-d28b-11ea-9033-222cbf5e5ba7.png)

[2020-07-30 23:01] inducer commented on #48
@matthiasdiener Thanks for responding, but I'm not meaning to interrupt your vacation! This is not that urgent...

I've re-run the master CI since I took my screenshot. (see #52 ) (which produced the failure)

Huh. Is that what it's picking up? If so, I take everything back.

Closing again. Will include scheduled events in my data gathering if I see it happening again.

[2020-07-30 23:01] #48 closed

[2020-07-30 23:45] MTCam commented on #51
ok, i think this is fine.  we can have some failing tests for now when running testy.

[2020-07-31 00:10] inducer commented on #51
#52 seems to fix it. Looking for reviewers there.

[2020-07-31 00:10] inducer commented on #51
x-ref: https://github.com/pypa/pip/issues/8667

[2020-07-31 15:31] majosm opened #53 "Managing multiple environments"
I'm trying to figure out how to use `emirge` (possibly in conjunction with other tools, e.g., `conda`) to set up and quickly switch between multiple `mirgecom` toolchains.

As a concrete example, suppose I have one feature that depends on a post-array-context toolchain and another that is still pre-array-context. Previously, when switching between tasks I would have to go into the individual packa

[2020-07-31 15:43] lukeolson commented on #53
Can you use two different environments for this?

- Create env1, checkout feature 1, install.
- New terminal. Create env2, checkout feature 2, install.

[2020-07-31 16:02] majosm commented on #53
I think(?) I would have to create a separate clone for each feature in order to make that work (since the sub-packages are downloaded to the main `emirge` directory and installed with `install -e`).

I could do that... kinda hoping there's a cleaner way though. 🙂

[2020-07-31 16:11] lukeolson commented on #53
Ah.  Installing in development mode might not work with this.

[2020-07-31 16:37] inducer commented on #53
@majosm I think the multiple checkouts route is the only way that works *right now*.

We coud hack https://github.com/illinois-ceesd/emirge/blob/master/install-pip-dependencies.sh so that it doesn't just blindly clone repos, but instead is able to switch branches in an existing environment (based on `requirements.txt` in mirgecom). Maybe @matthiasdiener can comment once he's back.

[2020-07-31 23:41] matthiasdiener commented on #48
Hehe, no worries. Love looking at these mysteries ;-)

Yes, I believe it is also picking up scheduled events, which I think is the correct behavior. What concerns me is that the two pictures we posted above are not the same, ie, disagreeing about the status of that `Install MPI if not already ...` run...

From what I understand, the badge itself shows the last status of a scheduled run or a "pushe

[2020-08-07 15:48] inducer opened #58 "Hack requirements.txt parsing to allow not producing a checkout of a package"
cf. https://github.com/illinois-ceesd/mirgecom/pull/51

[2020-08-07 15:50] matthiasdiener commented on #58
In the sense that this line in requirements.txt:

[code]

will not do `git clone` etc. but just run `pip install git+https:https://github.com/inducer/f2py`?

[2020-08-07 15:53] inducer commented on #58
Yeah, that was my thought. Maybe recognized via annotation by a special comment:

[code]

[2020-08-07 15:55] inducer commented on #58
You think that's nuts? Feel free to vent.

[2020-08-07 15:55] matthiasdiener commented on #58
Maybe easier to parse:

[code]

[2020-08-07 16:03] inducer commented on #58
Fine by me if that's still a valid (as far as pip is concerned) `requirements.txt` file. I suspect it might not because the hash character can be functional syntax:
[code]

[2020-08-09 00:48] MTCam commented on #53
TEESD needs to have multiple environments just like you describe @majosm. This install command is currently working on emirge@Option--env-name on Lassen:
[code]

This command will install a working environment for mirgecom@mybranch in the directory $CEESD/mirgecom-install-1 and this environment has its own conda env that you can load to work on that branch.   Any number of these can be installed s

[2020-08-09 00:57] MTCam commented on #53
fyi my environment setting on Lassen so far pre-emirge was whatever the default is +
[code]

[2020-08-09 03:48] majosm commented on #53
I'm not really loving the idea of having separate local subpackage git repos for every feature branch. It means you have to do the initial git setup work (adding remotes, etc.) every time you create a new branch. And if you want to do something that operates between branches (merge, cherry-pick, diff, ...), you can't directly; you have to use workarounds like adding a remote for the other local gi

[2020-08-09 15:54] MTCam commented on #53
I don't understand what you mean here.   I develop on multiple branches, each requiring a different set of sub-packages (e.g. meshmode, grudge) - and I do not face any of these troubles.  Can you explain?

[2020-08-09 19:15] majosm commented on #53
So, with your current setup you're creating separate installs for different features, right?

Suppose you start with one feature and install with `--install-prefix=$CEESD/feature1 --branch=featurebranch1`. You do some work on (e.g.) mirgecom in there -- you make some commits, set up some remotes (your own GitHub, maybe those of people you're collaborating with). So far so good. Now you want to sta

[2020-08-09 19:34] MTCam commented on #53
Thanks for that detailed explanation @majosm.   I didn't follow before because adding other remotes and stuff is not something I actually do (often).  I'm always doing the clunky thing of checking out the different feature when I want to work on it as you describe. I can't really imagine another way to do that.

The new options do appear to address some of the issues you mentioned at the top of th

[2020-08-09 19:41] matthiasdiener commented on #53
Just to add a detail - since we are supposed to use forks for pushing PRs to other repos (loopy etc.), we won't be able to avoid working with multiple remotes for the repos.

[2020-08-09 21:51] MTCam commented on #53
So far, I've been able to manage this by putting my personal repo as the source in the `requirements.txt` file:
[code]
Things I push there automatically update the PR.

[2020-08-09 21:57] MTCam commented on #47
Users can also specify custom packages using #67

[2020-08-09 22:54] MTCam commented on #45
This is done and could be closed. #63

[2020-08-09 22:55] MTCam commented on #51
This is fixed.   Is there something else we should do before closing it up?

[2020-08-09 22:56] MTCam commented on #58
I like this NOCHECKOUT option, but so far I have just been doing `conda install fparser` to fix the missing fparser.  Is that wrong?

[2020-08-09 23:32] #45 closed

[2020-08-09 23:52] inducer commented on #47
Yeah. I think this is good to close. @matthiasdiener?

[2020-08-09 23:53] matthiasdiener commented on #47
Closing, we can reopen if we want to install more tools.

[2020-08-09 23:53] #47 closed

[2020-08-12 21:18] #51 closed

[2020-08-13 14:31] matthiasdiener commented on #58
The fparser installed from conda is not the same as this: https://github.com/inducer/f2py.git.

[2020-08-17 23:07] inducer opened #73 "Adapting to the system hwloc situation"
It seems that we have two possible situations that can give us the annoying:
[code]
- System MPI uses libhwloc 1 (Livermore), pocl uses libhwloc 2
- System MPI uses libhwloc 2 (Debian, e.g. Andreas's machine, scicomp cluster), pocl uses libhwloc1

As of #71, we default to installing libhwloc 1, but that's also not a safe default. Is there something we can do to automate installing the correct libh

[2020-08-20 00:03] majosm opened #75 "Discussion: emirge's role"
After some back-and-forth on Slack, I noticed we still have some differing thoughts on emirge, so I wanted to start up one final (hah) discussion in an attempt to iron this out.

In [emirgecom](https://github.com/illinois-ceesd/mirgecom/pull/65), we (tentatively) agreed that emirge should no longer parse mirgecom's `requirements.txt`. However, there seem to still be two views on what role emirge s

[2020-08-20 00:14] MTCam commented on #75
I think that version B is just version A with some default environments included.   For example, one for people who intend to develop packages, and one for those who just want to run stuff.

[2020-08-20 00:43] majosm commented on #75
No, that doesn't cover it at all. Suppose I'm working on something that requires branch `x` of meshmode, branch `y` of grudge, and branch `z` of mirgecom (because I'm changing something that impacts all three). Then say I have another change that just requires branch `m` of mirgecom. Then somebody else asks for help debugging something that uses branches `i`, `j`, `k`, etc... 😱

Defaults don't cov

[2020-08-20 01:24] matthiasdiener commented on #75
There is imho a simpler third option: Telling users to run `pip install -r requirements.txt` inside the mirgecom dir whenever they checkout a new mirgecom branch.

[2020-08-20 01:36] MTCam commented on #75
I

We agree on this, @majosm .  I am not arguing against continuing to use version control with _emirge_, and being able to modify the "requirements.txt" file there, and check that in as a branch.  To me VersionB still looks like VersionA, but with source control. I've never advocated that any of our files should be taken out of source control - and I missed that about your initial description of

[2020-08-20 02:27] majosm commented on #75
Ok, cool. Slack comments seemed to suggest otherwise, but I'm glad we're on the same page now.

Does that come from this part:

?

To me, this isn't the approach ABATE/TEESD should be taking in a post-#72 world. Part of what I was trying to get at above and in Slack is that emirge's (or whatever "top-level" package we decide on) `requirements.txt` should be considered the official source for an en

[2020-08-20 03:38] MTCam commented on #75
Yes.  That is how it works now, and how I would like for it to continue working.  I misspoke before, each project is a different branch of _emirge_, not _mirgecom_.   But each version of _emirge_ that I test is associated with a particular branch of _mirgecom_.   I was using _emirge_@teesd for that - but since all the _emirge_ changes, I have switched to _emirge_@master and specify the --branch op

[2020-08-20 03:40] matthiasdiener commented on #75
I believe that's true.

[2020-08-20 03:43] matthiasdiener commented on #75
Uhh, I think this would be hard to do. How would you keep emirge's requirement.txt in sync with whatever branch X of mirgecom requirements.txt describe?

[2020-08-20 03:45] MTCam commented on #75
Then I would like if _emirge_ could (continue to) do that.

I think I can just check out _emirge_@xyz, and know that it install the version of _mirgecom_ that I need. Can't I?

[2020-08-20 03:50] matthiasdiener commented on #75
Ok, I think the current version of PR #72 can do that.

I don't think there is currently a way to do this automatically, and I struggle to imagine even a theoretical way how to do that automatically. The manual way to do this (either in emirge@master or with the PR) is to manually select a branch of mirgecom, or just clone mirgecom@master, run `git checkout <mybranch>`, and run `pip install -r req

[2020-08-20 03:55] MTCam commented on #75
Wouldn't it amount to just checking out _emirge_, make a branch, edit the requirements.txt to be the version of _mirgecom_ that I want and then just check that back in as a branch of _emirge_?  What would stop me from doing that?

[2020-08-20 03:56] matthiasdiener commented on #75
Are you going to make a branch in emirge for every branch in mirgecom? That seems... not good...

[2020-08-20 03:59] MTCam commented on #75
Naw, just the ones I want to share or be able to recreate remotely. Like if I need you or Matt to look at something (for the umpteenth time), then I can just check in an _emirge_ branch that will install exactly the packages you need to recreate my environment.   Look at it, run it, then blow it away.

[2020-08-20 04:02] matthiasdiener commented on #75
That seems like a very labor-intensive process and would also duplicate the the requirements in two different files, like I mentioned above.

[2020-08-20 04:08] MTCam commented on #75
I don't follow that it is labor intensive, or the duplication concern.  I'm not saying there would be a new requirements file - just that the requirements file can differ between _emirge_ branches, like any other file can differ between branches.

[2020-08-20 04:16] matthiasdiener commented on #75
Regarding the labor intensity: Imagine you create a branch X in mirgecom, and have to create a corresponding branch X in emirge. Some days later, you change the requirements in mirgecom's branch X, and have to remember to make the corresponding changes in emirge's branch X.

Regarding the duplication: instead of the relatively coarse-grained dependencies tracked in the #72 PR, you now need to trac

[2020-08-20 04:45] MTCam commented on #75
This seems like the required amount of labor to me.   Iff I want/need emirge to be able to install my branch directly, then yes - I make a branch of _emirge_ that does it (simply by editing the _emirge_/requirements.txt), and then checking that branch in.

In many cases (including for our personal individual use), simply checking out emirge@master and installing will be enough, because we can easi

[2020-08-20 13:08] majosm commented on #75
Gotcha. Right, I think you'd want to clone emirge several times and install each into a separate environment. If #72 doesn't currently allow this, it should be fixed up to do so.

I don't see it as being very labor intensive. Keep in mind, this type of duplication already exists, e.g.: if you want to use a different branch of loopy, you already need to modify `requirements.txt` for meshmode, grudg

[2020-08-20 15:31] matthiasdiener commented on #75
Ok, fair enough.

We'll need to duplicate changes in mirgecom's requirements.txt to  emirge's requirements.txt.

[2020-08-20 15:34] matthiasdiener commented on #75
I don't think we need to modify meshmode's etc. `requirements.txt` if we want to use a different branch of loopy. This will come in automatically if we change mirgecom's requirements.txt.

Certainly, and PR #72 already has such a facility, by using requirements.txt for "our" packages (such as loopy), and requirements_dev.txt for nice-to-have packages such as flake8.

[2020-08-20 15:54] majosm commented on #75
Oh good, then we don't need to change mirgecom's either, we can just change emirge's. 😄

I'm not really talking about optional dev packages, I was thinking more along the lines of things we would use in our simulations that fall outside of the scope of mirgecom as a solver-focused package.

[2020-08-20 16:10] matthiasdiener commented on #75
Not really, since mirgecom's requirements.txt should reflect accurate requirements as well. Not everyone will use emirge to install mirgecom.

Ok, we could add another file, `requirements_sim.txt` or so.

[2020-08-20 16:51] majosm commented on #75
Nor will everyone use mirgecom to install meshmode or grudge. 🙂

To clarify one thing: I don't think every dependency of mirgecom should go in emirge's `requirements.txt`. It should just contain our CEESD packages (and maybe a few odds and ends that don't make sense as dependencies of any particular subpackage). Other dependencies will get installed by the package that needs them.

Why?

[2020-08-20 17:11] matthiasdiener commented on #75
Sure, but wouldn't that be the responsibility of the meshmode etc. package then? Just to clarify: If you need a different loopy branch due to a change in mirgecom, changing the requirements.txt in mirgecom should be enough; you normally don't need to change the other packages that also happen to require loopy.

Right, and thats the situation with #72 currently (minus the setup.py vs. requirements.

[2020-08-20 17:52] MTCam commented on #75
This might call for a few model use cases - especially the ones we all think we want and/or need.   Maybe we can tweak our use cases and the proposed solution i.e. PR #72 (if any tweaking is needed), until they meet up.   I have some expectation that my use case may be part of what needs "debugged" here.

But here it is:
# Multiple working installs for the end-user.

The end-user has some addition

[2020-08-21 21:19] inducer opened #76 "Install pymetis from conda-forge"
- [x] cf. https://github.com/conda-forge/staged-recipes/pull/12448 (i.e. not relevant until that's merged)
- [x] Actually: should wait until it has had the Power9 build enabled. https://github.com/conda-forge/pymetis-feedstock/issues/2

[2020-08-24 00:40] inducer commented on #76
https://github.com/conda-forge/pymetis-feedstock/pull/3/ passed and is merged. Should be good to go. (in, like, half an hour... once the production build completes and the CDN updates)

[2020-08-24 00:42] matthiasdiener commented on #76
Will installing this pull in mpi4py as well?

On Sun, Aug 23, 2020 at 19:40 Andreas Klöckner <notifications@github.com>
wrote:

[2020-08-24 00:54] inducer commented on #76
Nope

[2020-08-25 01:18] matthiasdiener commented on #76
What's our plan for installation through conda vs pip?
I considered to only use conda for packages that

- Take a long time to compile or
- Are difficult to build on our various platforms

As far as I can see, pymetis doesn't really seem to match either of these considerations.

[2020-08-25 01:59] inducer commented on #76
My goal is different. Zero from-source installs of C-based packages, other than where stupid vendor MPI forces our hand. Source builds are unreliable.

[2020-10-09 14:46] matthiasdiener opened #79 "Make version.sh output a requirements.txt that installs the exact same versions"

[2020-10-13 21:55] inducer opened #81 "Is emirge impacted by Conda forge Py3.9 version switch?"
@matthiasdiener Could you verify that the emirge install still works and does not run into the same issues as outlined in https://github.com/illinois-ceesd/mirgecom/pull/119? (Or, if it does, submit a similar PR here to pin the version?)

[2020-10-13 21:56] matthiasdiener commented on #81
Testing it here: https://github.com/illinois-ceesd/emirge/pull/80

[2020-10-13 22:34] matthiasdiener commented on #81
Turns out it is impacted.

[2020-10-16 14:20] matthiasdiener commented on #81
Fixed by restricting emirge to version 3.8: #80.

[2020-10-16 14:20] #81 closed

[2020-10-16 14:21] matthiasdiener commented on #79
Draft PR: #83.

[2020-10-27 20:33] matthiasdiener opened #84 "Add creation of conda env file in version.sh"

[2020-11-04 05:45] #79 closed

[2020-11-04 16:23] inducer opened #86 "Package version reproduction should use install.sh"
[This code](https://github.com/illinois-ceesd/emirge/blob/833cc1a6d8c6617649c0c308c67aacacffe8aa36/.github/workflows/tests.yaml#L48-L52) should use `./install.sh` to install a whole new environment.

I wasn't paying enough attention when I reviewed this, otherwise I would have caught this.

[2020-11-04 16:24] inducer opened #87 "README should specify file format for deps files"
[code]

[2020-11-05 17:20] #86 closed

[2020-11-05 22:33] inducer opened #90 "install.sh should have an option --conda-env-file"
To allow reproduction of an existing environment.

x-ref #86 #84

[2020-11-05 23:24] #87 closed

[2020-11-06 22:47] matthiasdiener commented on #90
Just to be clear, this should be in addition to the existing ` --conda-pkgs` option?

[2020-11-08 02:12] inducer commented on #90
Either way. I'm not opposed to keeping `--conda-pkgs`, but I'm also not attached to it.

[2020-11-12 00:57] #90 closed

[2020-12-04 05:31] inducer commented on #73
I just hit this again. @matthiasdiener, what do you think of the detection solution I proposed?

[2020-12-05 17:41] matthiasdiener commented on #84
Implemented by #91.

[2020-12-05 17:41] #84 closed

[2020-12-06 05:29] matthiasdiener commented on #73
See https://github.com/illinois-ceesd/mirgecom/pull/169 for another workaround.

[2020-12-07 00:32] #76 closed

[2021-01-07 20:09] matthiasdiener opened #98 "version.sh doesn't handle forked repos"
It will always use the main fork.

[2021-01-16 00:41] inducer opened #99 "Output redirection on version.sh"
@matthiasdiener Is there a way to get this to work while maintaining the flags that we currently support?

A related thing is that the script should possibly send diagnostic output to stderr.

[2021-01-17 19:50] #99 closed

[2021-01-18 03:56] matthiasdiener opened #101 "conda does not work on MacOS"
In a subshell, conda seems to trip up over the active environment.

[code]

This leads to `version.sh` being unable to export the conda environment (`conda env export` just exports an empty env):

[code]

This seems to work fine on Linux.

**Edit:**

Not only `conda env` is broken, but also other conda operations such as `conda update`.

[2021-01-27 17:48] dshtey2 opened #103 "Seg Fault at Startup"
I installed a fresh copy of emirge onto my subshell, and when I tried to run the example files I kept getting Seg Faults, akin to the following. I am running Linux on a WSL subshell on my Acer laptop.

[code]

[2021-01-27 17:50] dshtey2 commented on #103
As an additional note, I have installed an earlier iteration of emirge and had no issues running the examples or making my own; this issue only started after downloading the most recent version.

[2021-01-27 17:52] inducer commented on #103
WSL1 or 2? (WSL1 is not supported.)

[2021-01-27 17:55] dshtey2 commented on #103
According to Powershell I am running version 2

[2021-01-27 17:58] MTCam commented on #103
So, I find it a little suspicious that you used a *new* version of emirge, yet these errors appear to indicate that your code is still using an environment called `dgfem` - which I *think* has gone away some time back.

Every install of MIRGE-Com using emirge will install a whole new environment (called "ceesd", by default i think).  One needs to make sure to activate it by doing `source emirge/co

[2021-01-27 18:02] majosm commented on #103
`dgfem1` 🙂 .

It was a fresh clone of emirge, Installed with `./install.sh --conda-prefix=<existing conda install> --env-name=dgfem1`. The env was activated properly.

[2021-01-27 18:03] dshtey2 commented on #103
Here is my output:
[code]

[2021-01-27 18:03] matthiasdiener commented on #103
I would try installing a fresh env, ie. without `--conda-prefix=<existing conda install>`

[2021-01-27 18:04] MTCam commented on #103
I suspect it might start working if he activates the new `ceesd` environment.

[2021-01-27 18:05] majosm commented on #103
`dgfem1` is the correct env. See above.

[2021-01-27 18:07] majosm commented on #103
@dshtey2 This might be worth a try. Just make sure to set your `PATH` so it picks up the new conda instead of the old one.

[2021-01-27 18:11] matthiasdiener commented on #103
I'm suspecting this PR might be a part of the problem: https://github.com/illinois-ceesd/mirgecom/pull/200

[2021-01-27 20:48] dshtey2 commented on #103
I just ran another fresh install, this time setting the `PATH` to the new conda directory, but to no avail

[2021-02-09 23:09] matthiasdiener opened #108 "Change requirements.txt parsing to use pip"
Imho, at least for the medium-term, we should probably abandon the requirements.txt parsing completely, and just read the file line-by-line, feeding each line to pip directly. With a special case for the development packages such as loopy, where we just add a `--src` argument to pip.

_Originally posted by @matthiasdiener in https://github.com/illinois-ceesd/mirgecom/pull/244#issuecomment-77630011

[2021-02-11 01:43] matthiasdiener opened #111 "Use mirgecom's conda env file for conda packages"
instead of the hardcoded list in install-conda-dependencies

[2021-02-11 16:02] MTCam commented on #111
This is important because it repairs CI tests for branches that require conda packages that differ from master.  [Like this one that needs Cantera](https://github.com/illinois-ceesd/mirgecom/pull/236).

[2021-02-11 17:28] MTCam commented on #111
Should it be *in addition to* the hardcoded list in `install-conda-dependencies`

[2021-02-11 17:30] matthiasdiener commented on #111
Imho, no.

[2021-02-11 19:45] inducer commented on #111
:shrug: I could go either way.

[2021-02-14 00:18] #111 closed

[2021-02-15 08:31] dshtey2 opened #114 "emirge not compiling on macOS"
I have recently installed emirge on a macOS operating system (macOS Big Sur version 11.2), along with the necessary dependencies. When running the example code (`heat-source-mpi.py`), it displays two platforms I can run it on, and with each platform a different issue arises that breaks the code:
- When choosing`Choice [0]: <pyopencl.Platform 'Portable Computing Language' at 0x######>` the code run

[2021-02-15 15:07] matthiasdiener commented on #114
Yeah, this is a known issue, see here: https://github.com/conda-forge/pocl-feedstock/issues/52

I think it might not be related to #101. Can you add more info about your system? Which CPU is it? What is your Xcode version, and the version of the Xcode command line tools?

[2021-02-15 18:44] dshtey2 commented on #114
I have an Intel i5 2.9 GHz Dual-Core CPU, and an Intel Iris Graphics 6100 1536 MB GPU. I am running Xcode version 11.3.1 (11C504) and `xcode-select` version 2384.

[2021-02-15 20:27] #46 closed

[2021-02-15 20:27] #58 closed

[2021-02-15 20:27] #108 closed

[2021-02-15 21:02] matthiasdiener commented on #114
Did you run `xcode-select --install` ?

[2021-02-15 21:58] dshtey2 commented on #114
Yes, I ran the install command and it said that everything was installed, and I also updated my OS to 11.2.1. Everything is up-to-date now, but I am still getting the same errors.

[2021-02-16 00:57] matthiasdiener commented on #114
As a workaround for pocl, you can run the following command in your activated conda environment:

[code]

[2021-02-16 22:40] #114 closed

[2021-03-05 16:01] lukeolson opened #118 "Update scripts to main"
There are a few spots that need to be updated to `main` for mirgecom

[2021-03-05 16:47] #118 closed

[2021-03-09 13:11] dshtey2 opened #121 "emirge missing packages on macOS"
I am trying to install emirge on the new M1 MacBook Pro, OS Big Sur 11.2.3. When attempting to run the installation, I get the following terminal output (posting full install output to cover all bases):

[code]

To try to install these packages I had to install my own local copy of anaconda, but even then the packages were "not available from current channels."

[2021-03-09 17:03] matthiasdiener commented on #121
clinfo/pymetis do not exist as conda packages for the new Apple architecture yet, I'll ping them.

[2021-03-09 18:49] matthiasdiener commented on #121
As a workaround, you can comment out the `clinfo` and `pymetis` lines in `mirgecom/conda-env.yml`, and then run

[code]

All mirgecom examples should work then.

[2021-03-10 00:42] matthiasdiener commented on #121
@dshtey2 Can you check if #122 fixes this for you?

[2021-03-10 01:23] dshtey2 commented on #121
@matthiasdiener I attempted to install pymetis with pip, but pip is not installed on my machine and whichever way I tried to install it (brew, apt-get, easy_install) threw an error at me. I then ran only the `conda install clang_osx-arm64` line, and after a long time trying to resolve the environment it threw a wall of output with all the package conflicts. At this point I have uninstalled everyth

[2021-03-10 17:19] matthiasdiener commented on #121
Ok, could you please run a fresh install with the branch from #122? I've pushed a small change this morning and it works out of the box on my M1 laptop:

[code]

Note that you will need to install an MPI package (such as mpich or openmpi) before installing emirge, such as

[code]

[2021-03-10 19:15] dshtey2 commented on #121
It seems that I am having trouble with the MPI packages. I installed mpi4py, mpich, and open-mpi, but even with all of them installed I get the following error:
[code]

[2021-03-10 19:19] matthiasdiener commented on #121
Please don't install both `mpich` and `openmpi` at the same time, they might interfere with each other. How did you install these packages? Also, you should not need to install mpi4py manually at all, it should be built when installing emirge. Can you post the full output here?

[2021-03-10 19:31] dshtey2 commented on #121
There is apparently an issue where ARM makes using the standard `brew install` impossible, so I first installed Rosetta2 emulator and reinstalled homebrew on the M1 chip (the new command is `arch -x86_64 brew <command>`). Afterward, I brew installed `mpich`, `open-mpi`, and `mpi4py` individually, unlinking `mpich` when the latter two were installed, and in between each installation I tried to run

[2021-03-10 19:42] inducer commented on #73
Hm. I just saw this again, but I realized that my system does not benefit from https://github.com/illinois-ceesd/mirgecom/pull/169. Among other things, this breaks running the meshmode tests. I don't think it's feasible to apply this workaround universally. This makes me like the hwloc version picking hackery idea more.

@matthiasdiener What do you think?

[2021-03-10 19:47] matthiasdiener commented on #121
This is weird. I did not have to do this on my M1, and is likely the source of the main error:

[code]

[2021-03-10 20:26] dshtey2 commented on #121
Here is a typical output whenever I attempt anything with simple `brew <command>`:

<details>
<summary> `brew install mpich` </summary>

[code]
</details>

<details>
<summary> `brew reinstall mpich` </summary>

[code]
</details>

[2021-03-10 20:39] matthiasdiener commented on #121
Yeah, you can not have homebrew installed in /usr/local on the M1. I installed mine in my home folder. Can you try removing your homebrew installation and start from scratch in a different folder (e.g. /opt/homebrew or ~/homebrew)?

[2021-03-11 00:05] dshtey2 commented on #121
This fixed the issue, and everything is running as expected now. Thanks! I suppose the /usr/local installation was an artifact of migrating over from a pre-M1 Macbook device.

[2021-03-11 03:29] matthiasdiener commented on #121
Great, thanks for testing this!

[2021-03-11 04:34] #121 closed

[2021-04-08 17:27] majosm commented on #73
illinois-ceesd/mirgecom#306

[2021-04-09 01:01] inducer commented on #73
Based on @majosm's experience, this has the potential to cause spurious breakage on Macs and Linux, except the Mac failures are even worse: all you get is a segfault, not even an error message you can search. I don't think I'd consider this fixed, even if the import order can be used to work around it. (@majosm, could you `conda install libhwloc=2` and see if the import order thing even also appli

[2021-04-09 13:21] majosm commented on #73
With `conda install libhwloc=2`, I get a segfault if I load pyopencl then mpi4py, but not if I load mpi4py then pyopencl.

[2021-04-10 00:09] inducer commented on #73
Thanks for checking! So it's probably the same bug, just different crashes. I don't think it's plausible that we'll catch all the code where things get installed in the "wrong" order. And I can't reasonably add a warning to PyOpenCL either...

@majosm Does the above snippet (or some version of it) successfully detect the "ambient" (MPI) version of hwloc?

[2021-04-19 15:21] inducer commented on #73
But what does it do prior to any conda env being active? The whole point would be for it to detect what hwloc exists in the environment and adapt to that, to avoid conflicts.

[2021-04-19 15:36] majosm commented on #73
After activating conda and prior to `conda activate <env-name>`, I still get `2`. If I don't activate conda at all I get
[code]

[2021-04-19 15:45] inducer commented on #73
Huh. I'm guessing that's the system Python not allowing you to load dynamic libraries? That's annoying.

[2021-04-19 15:52] inducer commented on #73
I guess that's not a big issue: We could conceivably just run that code in the conda base environment (right after miniconda completes). FWIW, "2" is the answer we want in that case, right?

[2021-04-19 15:55] majosm commented on #73
Unfortunately not. 🙁 System hwloc is v1.

[2021-04-19 16:23] inducer commented on #73
Despite the spack hwloc being v2?

[2021-04-19 16:26] majosm commented on #73
Spack hwloc is v1 (my MPI is installed via spack and uses that version). conda is v2.

[2021-04-19 16:38] matthiasdiener commented on #73
As another (easier?) workaround, could we default to installing `mpich` instead of `openmpi`? `mpich` does not depend on `hwloc`, and it might be preferable in any case (see e.g. https://github.com/illinois-ceesd/mirgecom/commit/7a07799cefb8a0a3e318a59b001b599a834bcc7f)

[2021-04-19 16:43] inducer commented on #73
AFAIK, we're not installing any MPI implementation ATM, and that seems like the right approach. (i.e. use whatever `mpicc` is)

[2021-04-19 16:47] matthiasdiener commented on #73
I mean, recommend people to install mpich instead of openmpi on their machines (as well as CI etc.)

[2021-04-22 21:49] inducer opened #127 ""emirge status""
Suppose a user/developer modifies many repositories, it would be nice to be able to get an overview, kind of like `git status`.

cc @thomasgibson

[2021-04-22 21:51] matthiasdiener commented on #127
Should that just run `git status` for each dir?

[2021-04-22 22:12] inducer commented on #127
That'd work for me. Maybe `./for-each git-status`?

[2021-04-22 22:18] MTCam commented on #127
It might be nice to have a general mirge `for-each` that means "run this command in each managed directory".  Then the user can choose their own git command (or whatever).

[2021-05-24 14:10] isuruf commented on #73
I think this issue only happens if `libhwloc=2` gets loaded before `libhwloc=1`. If you always install pocl with libhwloc=1 and load it first (by running `cl.get_platforms()`), this should go away.

[2021-05-24 15:29] inducer commented on #73
I'm not sure we have reliable control over what gets loaded first though.

[2021-10-25 13:04] MTCam opened #138 "Lassen installation broken"
Installations on Lassen seem broken. After installing *MIRGECom* on Lassen using *emirge*, the installation fails to find mpi4py. This hit the overnight tests, and verified this morning with by-hand tests of installation.   Will be checking other platforms, but just wanted to get this on the radar in the interim.

[code]

[2021-10-25 14:09] #138 closed, assigned to nobody

[2021-10-26 14:07] MTCam opened #140 "Tracking provenance through merges"
We often merge multiple branches together when creating a simulation capability, and our current provenance is insufficient for recreating the code/env after such an operation.

For example, the automated timing procedure for lazy runs goes something like:
1. emirge install `parallel-lazy`
2. merge `y1-production`

We record the hashes for these branches in the timing script - but the built-in pro

[2021-10-29 15:19] majosm opened #141 "Feature request: allow installing an existing local mirgecom repo"
Could help simplify our mirgecom CI procedure.

[2021-10-29 15:25] #141 closed, assigned to nobody